.product__box {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 4px 2px #aaa;
    border-radius: 1rem;
    padding: 0 2rem;
}

.product__box-image {
    height: 10rem;
    padding: 1rem 0;
}

.product__box-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.product__box-description {
    margin-top: 0.8rem;
}

.product__box-btns {
    margin: 1rem 0.5rem;
}

.product__box-btns-add {
    border: 0;
    background-color: rgb(39, 160, 39);
    color: white;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem 0 1rem 0;
    font-weight: bold;
}

.product__box-btns-buy {
    border: 0;
    background-color: rgb(145, 145, 145);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem 0 1rem 0;
    font-weight: bold;
}

.product__box-btns-add:hover {
    cursor: pointer;
    background-color: green;
}