.add-book{
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

form{
    width: 40%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-book__item{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

.add-book__lable{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.add-book__input{
    width: 100%;
    border: none;
    background-color: rgb(248, 210, 200);
    color: black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.add-book__submit{
    width: 10rem;
    border: none;
    background-color: rgb(245, 113, 80);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.add-book__submit:hover{
    cursor: pointer;
    background-color: rgb(241, 80, 40);
}

.portrate-line{
    width: 2px;
    background-color: black;
    margin-top: 4rem;
}

.book-list{
    width: 40%;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.book-list__header{
    background-color: rgb(241, 80, 40);
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}