.cart-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.cart-item__box {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px 1px #aaa;
    border-radius: 1rem;
    padding: 0 2rem;
    position: relative;
}

.cart-item__box-image {
    height: 3rem;
    padding: 0.5rem 0;
}

.cart-item__box-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 2rem;
}

.cart-item__box-description {
    position: absolute;
    right: 35%;
}

.cart-item__box-btn-remove {
    border: 0;
    background-color: rgb(196, 60, 60);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem 0 1rem 0;
    font-weight: bold;
    position: absolute;
    right: 5%;
}

.cart-item__box-btn-remove:hover {
    cursor: pointer;
    background-color: rgb(219, 39, 39);
}