.todo-item__input{
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #adacad;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.todo-item__input-text{
    border: none;
    padding: 0.8rem 1rem;
    color: #444;
    width: 25rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 1px #adacad;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-item__input-text:focus{
    outline: none;
    box-shadow: 0 1px 5px 1px #adacad;
}

.todo-item__input-btn-remove{
    position: absolute;
    right: 0.5rem;
    color: #c5262e;
    height: 1rem;
    width: 1rem;
    background-color: #dbdbdb;
    border-radius: 50%;
    padding: 0.5rem;
}

.todo-item__input-btn-compelet{
    position: absolute;
    right: 3.2rem;
    color: #168a16;
    height: 1rem;
    width: 1rem;
    background-color: #dbdbdb;
    border-radius: 50%;
    padding: 0.5rem;
}

.todo-item__input-btn-compelet:hover,
.todo-item__input-btn-remove:hover{
    cursor: pointer;
    background-color: #c4c4c4;
}

.completed{
    text-decoration: line-through;
    color: #777;
}